<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-9" style="width: 81%; position: relative;left: 279px;">
    <div class="d-flex justify-content-between">
      <h1 class="p-1 d-flex align-items-center mt-3">Edit Ticket #<%= @ticket.id %></h1>
    </div>
    <hr>
      <%= render 'shared/form' %>
  </div>
</div>
