.add_ticket {
color: #6bb3ff;
background-color: #8dc4fe82;
text-decoration: none;
font-size: 22px;
border-radius: 13px;
padding: 10px;
border: 1px solid;
}

.add_ticket:hover {
  background-color: #77b9ff82;
  color: aliceblue;
}
